@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-dark-navy: #111827;
  --color-ntrl-light: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background: #ededed;
    --foreground: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
